<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/AddedStudentInfo.css}" />
</head>
<body>

<div class="card-container">
    <div class="card">
        <h3> ADD Welcome to BJIT Academy</h3>
        <h4>Student Information</h4>
        <p th:text="${student.id}"></p>
        <p th:text="${student.name}"></p>
        <p th:text="${student.domain}"></p>
        <div class="button-container">
            <a href="/registraion" class="button add-student-button">Add Student</a>
            <a href="/allCandidates" class="button delete-student-button">View All Students</a>
        </div>


    </div>
</div>

</body>
</html>
